<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ساخت اکانت جدید</title>
    <form action="" method="post">
        <br>
        <label for="nationalCode">نام مشتری:</label>
        <input type="text" name="account_name">
        <br>
        <label for="personType">نوع شخص:</label>
        <input type="radio" id="personType" name="account_state" value="حقیقی"> شخص حقیقی
        <input type="radio" id="personType" name="account_state" value="حقوقی"> شخص حقوقی
        <br>
        <label for="nationalCode">کد ملی/شماره ثبت شرکت:</label>
        <input type="text" id="nationalCode" name="account_id_no">
        <br>
         <label for="nationalCode">شماره تماس:</label>
        <input type="mobile" name="account_phone">
        <input type="submit" value="ثبت">
    </form>
</head>
<body>

</body>
</html>